* {
    margin: 0;
    padding: 0;
}

/* These media query is for phone device only */
@media screen and (min-width:0px) and (max-width: 540px) {
    #grid-container { 
        display: grid;
        grid-template-columns: 3fr,auto;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "index-header-container index-header-container index-header-container"
        "index-nav-bar index-nav-bar index-nav-bar"
        "index-side-bar index-main-content index-main-content"
        "index-side-bar index-main-content index-main-content"
        "index-footer index-footer index-footer";
        grid-gap: 10px;
        width: 100%;
    }
 }

 /* this media query is for tablet device display */
@media screen and (min-width: 541px) and (max-width: 799px) {
    #grid-container {
        display: grid;
        grid-template-columns: 1fr 150px 150px 150px 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        ". index-header-container index-header-container index-header-container ."
        ". index-nav-bar index-nav-bar index-nav-bar ."
        ". index-side-bar index-main-content index-main-content ."
        ". index-side-bar index-main-content index-main-content ."
        ". index-footer index-footer index-footer .";
        grid-gap: 10px;
    }
}


/* this media query is for pc device display */
@media screen and (min-width: 800px) {
    #grid-container {
        display: grid;
        grid-template-columns: 1fr 250px 250px 250px 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        ". index-header-container index-header-container index-header-container ."
        ". index-nav-bar index-nav-bar index-nav-bar ."
        ". index-side-bar index-main-content index-main-content ."
        ". index-side-bar index-main-content index-main-content ."
        ". index-footer index-footer index-footer .";
        grid-gap: 10px;
    }
}

#header-container {
    grid-area: index-header-container;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px; 
    width: 100%;
    background: red;
    border: 2pt solid black;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
    color: white;
    font-weight: 600;
    background: black;
    height: 100%;
    width: 100%;
}

.clock {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 15px;
    color: black;
    font-weight: 600;
    background: white;
    height: 100%;
    width: 100%;
}

#nav-bar {
    grid-area: index-nav-bar;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    background: blue;
    border: 2pt solid black;
}

#side-bar {
    grid-area: index-side-bar;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    background: purple;
    border: 2pt solid black;
}

#main-content {
    grid-area: index-main-content;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    background: yellow;
    border: 2pt solid black;
}

#footer {
    grid-area: index-footer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    background: green;
    border: 2pt solid black;
}